*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Very Light Grayish Blue: hsl(240, 78%, 98%)
Light Grayish Blue: hsl(234, 14%, 74%)
Grayish Blue: hsl(233, 13%, 49%)
Dark Grayish Blue: hsl(232, 13%, 33%) */

body{
    background-color: hsl(240, 78%, 98%);
    position: relative;
}
.top-img{
    position: absolute;
    right:0;
    top:0;
    z-index: -1;
}
.bottom-img{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.container{
    margin: 10vh;
    /* background-image: url(/pricing-component-with-toggle-master/images/bg-top.svg), url(/pricing-component-with-toggle-master/images/bg-bottom.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat; */
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    min-width: 754px;
}
.header{
    /* border: 1px solid; */
    width: 25%;
    margin-bottom: 10vh;
}
.pricing-header{
    font-size: x-large;
    font-weight: bold;
    color: hsl(232, 13%, 33%);
    margin-bottom: 2.5vh;
}
.pricing-toggle{
    font-size: 1rem;
    color:hsl(234, 14%, 74%);
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid; */
    padding: 10px;
}
.text-align-middle{
    display: flex;
    align-items: center;
}
.switch{
    position: relative;
    height: 30px;
    width: 50px;
    border-radius: 20px;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    cursor: pointer;
}
.switch::before{
    content: "";
    position: absolute;
    height:24px;
    width: 24px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    left: 3px;
    bottom: 3px;
}
input{
    display: none;
}

input:checked+ .switch::before{
    transform: translateX(20px);
}

.cards-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.card{
    /* border: 1px solid; */
    width: 25vw;
    /* height: 55vh; */
    background-color: white;
    padding: 20px;
    min-width: 300px;
}
.card-proff{
    /* height: 70vh; */
    width: 25vw;
    /* border: 1px solid; */
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 10px;
    z-index: 2;
    padding: 40px;
    min-width: 300px;
}
.border-radius-left{
    border-radius: 10px 0px 0px 10px;
}
.border-radius-right{
    border-radius: 0px 10px 10px 0px;
}
/* [class*="card-"] */
.card,.card-master {
    box-shadow: 2px 2px 15px 1px #888888;
}
.card-header{
    color: hsl(225, 5%, 47%);
    font-weight: bold;
    height: 10vh;
    /* border: 1px solid red; */
}
.card-proff > .card-header{
    color: white;
}

.card-amount{
    /* border: 1px solid; */
    font-size:-webkit-xxx-large;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monthly{
    display: none;
}
.table-striped-top td{
    border-bottom: 1px solid #ddd;
    line-height: 50px;
    color: hsl(225, 5%, 47%);
    font-weight: bold;
    margin: 20px;
}
.table-striped-top{
    border-top: 1px solid #ddd;
    width: 80%;
    margin: 30px;
}
.card-proff td{
    color: white;
}
.learn-more-btn{
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    width:20vw;
    line-height: 40px;
    color: white;
    margin: 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 500;
    cursor: pointer;
    border: 1px outset transparent;
}



.learn-more-btn-white{
    background-color: white;
    width:20vw;
    line-height: 40px;
    color: hsl(236, 72%, 79%);
    margin: 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: small;
    cursor: pointer;
    border: 1px solid transparent;
}
@media only screen and (max-width:375px){
    body{
        font-size: large;
        position: relative;
    }
    .header{
        width: 300px;
        margin-bottom: 2vh ;
    }
    .container{
        margin:10px;
    }
    .cards-container{
        flex-direction: column;
        justify-content: space-between;
    }
    [class*="card"]{
        border-radius: 10px 10px 10px 10px;
        width: 300px;
        padding: 0px;
        margin: 10px;
    }
    .learn-more-btn, .learn-more-btn-white{
        width: 250px;
        margin: 25px;
    }
    .card-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-img{
        width:50%;
        right: 0;
    }
    .bottom-img{
        display: none;
    }
    
}
.card-proff .card-amount{
    color:white;
}


.learn-more-btn:hover{
    border: 1px solid hsl(233, 13%, 49%);
    color: hsl(233, 13%, 49%);
    background-image: linear-gradient(white,hsl(240, 78%, 98%));
}

.learn-more-btn-white:hover{
    border: 1px solid white;
    color: white;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}


#input-check:checked + [class~="annual"]{
    display: block;
}
#input-check:checked + [class~="monthly"]{
    display: none;
}





